<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <listener>
    <listener-class>com.filrouge.init.Init</listener-class>
  </listener>
  <servlet>
    <servlet-name>SendMailTLS</servlet-name>
    <servlet-class>com.filrouge.test.SendMailTLS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMailTLS</servlet-name>
    <url-pattern>/mail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>com.filrouge.servlet.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>com.filrouge.servlet.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>com.filrouge.servlet.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Redirection</servlet-name>
    <servlet-class>com.filrouge.servlet.Redirection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirection</servlet-name>
    <url-pattern>/redirection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Administration</servlet-name>
    <servlet-class>com.filrouge.servlet.Administration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Administration</servlet-name>
    <url-pattern>/administration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Constantes</servlet-name>
    <servlet-class>com.filrouge.servlet.Constantes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Constantes</servlet-name>
    <url-pattern>/administration/constantes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EspaceCantine</servlet-name>
    <servlet-class>com.filrouge.servlet.EspaceCantine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EspaceCantine</servlet-name>
    <url-pattern>/espace_cantine</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EspaceGarderie</servlet-name>
    <servlet-class>com.filrouge.servlet.EspaceGarderie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EspaceGarderie</servlet-name>
    <url-pattern>/espace_garderie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Download</servlet-name>
    <servlet-class>com.filrouge.servlet.Download</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>C:/Users/59013-89-06/workspace/FilRouge/WebContent/WEB-INF/results/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/results/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PageUtilisateur</servlet-name>
    <servlet-class>com.filrouge.servlet.PageUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageUtilisateur</servlet-name>
    <url-pattern>/parent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InscriptionActivite</servlet-name>
    <servlet-class>com.filrouge.servlet.InscriptionActivite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionActivite</servlet-name>
    <url-pattern>/parent/activite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InscriptionEnfant</servlet-name>
    <servlet-class>com.filrouge.servlet.InscriptionEnfant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionEnfant</servlet-name>
    <url-pattern>/parent/inscription_enfant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InscriptionCantine</servlet-name>
    <servlet-class>com.filrouge.servlet.InscriptionCantine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionCantine</servlet-name>
    <url-pattern>/parent/cantine</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InscriptionGarderie</servlet-name>
    <servlet-class>com.filrouge.servlet.InscriptionGarderie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionGarderie</servlet-name>
    <url-pattern>/parent/garderie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EspaceActivite</servlet-name>
    <servlet-class>com.filrouge.servlet.EspaceActivite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EspaceActivite</servlet-name>
    <url-pattern>/espace_activite</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>RestrictionFilter</filter-name>
    <filter-class>com.filrouge.filter.RestrictionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RestrictionFilter</filter-name>
    <url-pattern>/administration/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>RestrictionFilterUtilisateur</filter-name>
    <filter-class>com.filrouge.filter.RestrictionFilterUtilisateur</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RestrictionFilterUtilisateur</filter-name>
    <url-pattern>/parent/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>RestrictionFilterCantine</filter-name>
    <filter-class>com.filrouge.filter.RestrictionFilterCantine</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RestrictionFilterCantine</filter-name>
    <url-pattern>/espace_cantine/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>RestrictionFilterActivite</filter-name>
    <filter-class>com.filrouge.filter.RestrictionFilterActivite</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RestrictionFilterActivite</filter-name>
    <url-pattern>/espace_activite/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>RestrictionFilterGarderie</filter-name>
    <filter-class>com.filrouge.filter.RestrictionFilterGarderie</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RestrictionFilterGarderie</filter-name>
    <url-pattern>/espace_garderie/*</url-pattern>
  </filter-mapping>
</web-app>